@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #29CDB5;
    --font-color: #000009;
    --section-background: #EAEAEA;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
}

h1 {
    margin: 0;
}

hr {
    margin: 1rem 0rem;
}

.intro {
    text-align: center;
    /* margin: auto; */
}

.containers {
    padding: 0rem 1rem;
}
.container-center {
    max-width: 60%;
    margin: auto;
}

/* link-ccs */
.link {
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: var(--font-color);
}

.link-primary {
    background-color: var(--primary-color);
    color: black;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list css */
.non-bullet {
    list-style: none;
}
.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-heading .hero-span {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
    text-align: center;
}

.section .link {
    margin-top: 1rem;
}
.section h1,h2 {
    text-align: center;
}

.ow {
    background-color: var(--section-background) ;
    border-radius: 1rem;
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
}

.footer .footer-social {
    padding-inline-start: 0;
    margin: 0.3rem;
}

.margin-md {
    margin: 3rem 0rem;
}

.padding-sl {
    border: 1rem;
}

#projects-heading {
    text-align: center;
}

#project-heading-span {
    color: var(--primary-color);
}

.section-discription {
    text-align: justify;
}

.project,
.blog {
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
}

.project .heading,
.blog .heading {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: var(--letterSpacing);
  font-weight: 700;
  color: var(--primary-800);
}

.project .date,
.blog .date {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
  font-style: italic;
  color: var(--grey-500);
}

.project p,
.blog p {
  margin: 0 auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  letter-spacing: var(--letterSpacing);
}
.grey-background {
    background: var(--section-background);
    border-radius: 1.5rem;
  }